	    /*...................Footer開始...................*/
		/*Footer框架*/
        input[type=text101]{
	        width: 130px;
	        box-sizing: border-box;
	        border: 2px solid #ccc;
	        border-radius: 4px;
	        font-size: 12px;
 	        background-color: white;
	        background-position: 5px 5px; 
 	        background-repeat: no-repeat;
 	        padding: 12px 20px 12px 20px;
	        -webkit-transition: width 0.4s ease-in-out;
	        transition: width 0.4s ease-in-out;
	    }
	    
	    .footer-item3{
		    font-size: 14px;  display: inline-block;
  		    height: auto;
 		    line-height:2;
  		    vertical-align: middle;
	    }
	  
	    hr.style-two {
            border: 0;
            height: 1px;
            background-image: linear-gradient(to right, rgba(192,192,192,0), rgba(192,192,192,0.75), rgba(192,192,192,0));
        }
		/*...................Footer結束...................*/